<!doctype html>
<html lang="us">
  <head>
    <title>Tripster</title>
	<meta charset="utf-8">
    <link href="styles.css" rel="stylesheet">
    <link rel="stylesheet" href="//yui.yahooapis.com/pure/0.4.2/pure-min.css" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans|Montserrat|Lato:300,400,900|Roboto' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">    
    <script src="http://yui.yahooapis.com/3.12.0/build/yui/yui-min.js"></script>    
  </head>

  <body style="background:url('Paris.jpg') 80% 15%;">

    <div class="pure-g-r">

      <!-- Login Box -->
      <div class="pure-u" style="background-color:#fff; margin:200px; padding:2em;">    
        <h1>Tripster</h1>
        <h2>Discovery your next destination</h2>
        
        <form action="wall.html" method="post">
          <div><input type="text" value="asnagy@gmail.com" size="50"/></div>
          <div><input type="password" value="12345678" size="50"/></div>
          <div><input type="checkbox" value="stay_logged_in"/> Keep me logged in</div>
          <div><input type="submit" value="Login"/></div>
        </form>
      </div>
  
    </div>

  </body>
</html>